<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>User Page</title>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.bundle.min.js"
			integrity="sha512-ToL6UYWePxjhDQKNioSi4AyJ5KkRxY+F1+Fi7Jgh0Hp5Kk2/s8FD7zusJDdonfe5B00Qw+B8taXxF6CFLnqNCw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css"
			integrity="sha512-Z/def5z5u2aR89OuzYcxmDJ0Bnd5V1cKqBEbvLOiUNWdg9PQeXVvXLI90SE4QOHGlfLqUnDNVAYyZi8UwUTmWQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
	</head>
	<body>
		<!-- <div>Data <%=JSON.stringify(userList)%></div> -->
		<div class="container">
			<div class="row">
				<!-- form -->
				<div class="container user-infor-page my-5">
					<form method="POST" action="/users/create-user" class="row justify-content-center">
						<h1 class="text-center">Register Account</h1>
						<div class="col-6">
							<div class="mb-3">
								<label for="email" class="form-label">Email address</label>
								<input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" required />
							</div>
							<div class="mb-3">
								<label for="username" class="form-label">Username</label>
								<input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp" required />
							</div>
							<div class="mb-3">
								<label for="password" class="form-label">Password</label>
								<input type="password" name="password" class="form-control" id="password" required />
							</div>

							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
				<!-- End Form -->

				<!-- Tables -->
				<h2>Table Users:</h2>
				<table class="table table-bordered border">
					<thead>
						<tr class="text-center">
							<th scope="col">STT</th>
							<th scope="col">Email</th>
							<th scope="col">Username</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<% userList.forEach(function(item,index){ %>
						<tr>
							<th class="text-center" scope="row"><%= index+1 %></th>
							<td><%=item.email%></td>
							<td><%=item.username%></td>
							<td class="text-center">
								<a href="/update-user/<%= item.id %>" style="text-decoration: none">
									<button type="submit" class="btn btn-warning">Edit</button>
								</a>
								<form action="/delete-user/<%= item.id %>" method="POST" style="display: inline">
									<button type="submit" class="btn btn-danger">Delete</button>
								</form>
							</td>
						</tr>
						<% }) %>
					</tbody>
				</table>
				<!-- End tables -->
			</div>
		</div>
	</body>
</html>
